* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    background-color: rgba(92, 92, 193, 0.88);
    display: flex;
    justify-content: center;
}

#form-container {
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    text-align: start;
    width: 600px;
    /* border-radius: 10px 10px; */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
#name ,#email,#selector,#range,#submitBtn {
    margin-bottom: 25px;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

#color {
    width: 15%;
    cursor: pointer;
}

.error {
    color: red;
    text-align: center;
    margin: 0px;
}

.modal {
    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: start;
    /* width: 450px; */
    width: 550px;
    /* height: 500px; */
    /* border-radius: 10px 10px; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 60px;
    font-weight: bolder;
    border: none;
    font-family: sans-serif;
}

.modal::backdrop{
    background: rgb(96, 96, 168) ;
}

.close-button {
    float: right;
    border: none;
    color: gray;
    background : none;
    cursor: pointer;
}
.hello-content , h1{
    font-size: 35px;
}